<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:700|Raleway&display=swap&subset=latin-ext">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('index') }}
        {% endblock %}
    </head>
    <body>
        {{ include('home/header.html.twig') }}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('index') }}
            {{ encore_entry_script_tags('banner') }}
        {% endblock %}
        {{ include('home/footer.html.twig') }}
    </body>
</html>
